<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with, initial-scale=1, shrink-to-fit=no">
    <link href="css/style.css" rel="stylesheet">
    <title>JIYE CHOI</title>
    <link rel="shortcut icon" type="image/png" href="images/JC LOGO.png">
</head>
<body>
    <header class="page-header">
        <nav class="topnav">
            <div class="header-name">JC</div>
            <div class="nav-right-items">
                <a class="active" id="nav-item" href="#home">Home</a>
                <a id="nav-item" href="#Profile">Profile</a>
                <a id="nav-item" href="#Project">Project</a>
                <a id="nav-item" href="#Resume">Resume</a>
                <a id="nav-item" href="#Contact">Contact</a>
            </div>
        </nav>
    </header>
    <section class="main-page"> 
        <div class="main-subtitle">
            <p>Hello, World!</p>
        </div>
        <h1 class="main-title"> JIYE CHOI</h1>
    </section>
    <section class="profile-page"> profile</section>
    <section class="proejct-page"> project</section>
    <section class="resume-page"> resume </section>
    <section class="contact-page"> contact me </section>

</body>
</html> 